.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(3px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caixa Pequena */
.modalBox {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 12px;
    width: 95%;
    max-width: 400px; /* <--- Bem menor que o de pagamento */
    position: relative;
    border: 1px solid #333;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.titulo {
    color: white;
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.grupoInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.grupoInput label {
    color: #e0e0e0;
    font-size: 0.85rem;
    margin-bottom: 8px;
}

.inputModal {
    background-color: #2b2b2b;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 12px;
    color: white;
    font-size: 1rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.botaoConfirmar {
    width: 100%;
    height: 50px;
    background-color: #009e2a;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.botaoConfirmar:disabled { opacity: 0.5; cursor: not-allowed; }

.botaoFechar {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: #666;
    font-size: 1.5rem;
    cursor: pointer;
}
.botaoFechar:hover { color: white; }