.containerResumo {
    background-color: #242424; /* Fundo escuro */
    border-radius: 16px;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto; /* Espaçamento vertical */
    padding: 1rem; /* Altura interna */
     /* Cantos levemente arredondados */

    display: flex;
    justify-content: space-around; /* Distribui os 3 blocos igualmente */
    align-items: center;
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* Distância entre o texto pequeno e o valor */
    width: 30%; /* Cada bloco ocupa um terço da barra */
}

.titulo {
    color: #888888; /* Cinza claro */
    font-size: 0.9rem;
    font-weight: 400;
}

.valor {
    font-size: 1.8rem; /* Fonte grande e chamativa */
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px; /* Distância entre o número e a setinha */
}

.icone {
    font-size: 1.2rem; /* Setinha um pouco menor que o número */
}

/* --- DIVISÓRIA VERTICAL --- */
.divisor {
    width: 1px;
    height: 40px; /* Altura da linha cinza */
    background-color: #444444;
}

/* --- CORES UTILITÁRIAS --- */
.textoVerde {
    color: #009e2a;
}

.textoVermelho {
    color: #cc0000; /* Vermelho vivo */
}

.textoNeutro {
    color: #ffffff;
}